// Navigation Styles here
.Navigation {
   margin: 3% 0;
   .Flex(space-between, center);
   
   
   .NavLinks {
      .Flex(space-between, center);
      align-items: center;
      width: 40%;

      a {
         text-decoration: none;
         font-size: 1.5rem;
         color: black;
      }
   }

}