// Navigation Styles here
.Navigation {
   margin-top: 3%;
   border-bottom: 2px dashed @navigation-border;
   .NavWrapper {
      .Flex(space-between, center);
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      @media @mobile {
         .Flex(center, center);
         flex-direction: column;
      }
      .PageName {
         width: 30%;
         @media @mobile {
            width: 100%;
            .Flex(center, center);
            margin: 3% 0;
         }
      }
      .NavLinks {
         .Flex(space-between, center);
         align-items: center;
         width: 40%;
         padding-right: 2%;
         @media @mobile {
            width: 100%;
            .Flex(space-evenly, center);
            margin: 1% 0;
         }

         a {
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
         }
      }
   }
}
